/* Общее */
@font-face {
    font-family: 'Rosatom';
    src: local("/assets/fonts/Rosatom-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Rosatom';
    src: local("/assets/fonts/Rosatom-Regular.ttf");
    font-weight: normal;
}

body {
    font-family: 'Rosatom', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
}

main {
    padding: 4.375rem 1.25rem 1.25rem;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Навигация */
.navbar {
    background-color: #f4f5f7;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: left;
}

.nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    color: #7b7271;
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    background-color: #faeedb;
    color: #1e1e2c;
}

/* Боковая панель */
.sidebar {
    background-color: #f4f5f7;
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 13rem;
    margin-top: 2rem;
    height: calc(100vh);
    overflow-y: auto;
    z-index: 800;
    font-size: 1.125rem;
}

.sidebar .nav {
    list-style: none;
    padding-left: 0;
}

.sidebar .nav-link {
    display: block;
    color: #7b7271;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem 0.9rem;
    background-color: #f4f5f7;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #faeedb;
    color: #1e1e2c;
}

/* Base ...d on me havin zero bi...  */
.content {
    background-color: #f4f5f7;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    position: fixed;
    top: 4.125rem;
    left: 16rem;
    width: calc(100% - 20rem);
    height: calc(100vh - 4.375rem);
    overflow: auto;
    z-index: 900;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 0.01rem solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: #fbfbfb;
    font-weight: bold;
}

tr:nth-child(even) { background-color: #f9f9f9; }

.expense-header {
    font-weight: bold;
    font-size: 0.85rem;
}

.expense-data {
    font-size: 0.85rem;
}

.btncol { width: 2rem; border-style: none; background-color: transparent;}
.shortcol { width: 2rem; white-space: nowrap;}
.midcol { width: 10rem; white-space: nowrap;}
.longcol { width: 20rem; white-space: nowrap;}

label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Кнопки */
.btn {
    background-color: #fbfbfb;
    font-family: 'Rosatom', sans-serif;
    border-radius: 0.3rem;
    border: 0.087rem solid #faeedb;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.btn:hover { background-color: #faeedb; }

.btn-primary { margin: -0.0875rem 0 0 1rem; }
.btn-secondary { margin: 0.4875rem 0 0 7rem; }
.btn-add { font-weight: bold; }
.btn-show-all-projects { margin-left: 0;}
.btn-hide-projects { margin-left: 0; }


button[type="submit"] {
    display: block;
    margin: 0.5rem auto 0;
}

/* Модальные окна */
.modal {
    position: fixed;
    display: none;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid #888;
    width: 100%;
    max-width: 35rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Формы */
.form-group {
    margin: 0.5rem 1.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group-inline label {
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-bottom: -0.01rem;
    white-space: nowrap;
    width: 12rem;
}

.auth-buttons {
    margin-top: -1rem;
}

.auth-field {
    margin-left: -3.9rem;
}

input[type="text"], input[type="date"], input[type="checkbox"],
input[type="number"], input[type="time"], input[type="password"], select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.time-input {
    margin-right: 1.4rem;
}

/* Индивидуальные элементы */
.gantt-cell {
    width: 0.5rem;
    height: 0.5rem;
    text-align: center;
    padding: 0;
}

/* Костыли (as if) */
#projectStartDate {margin-left: 2.5rem;}
#employeeDateOfBirth {margin-left: 1rem;}
input[type="checkbox"]{margin-left: -6rem;}
#projectNote {padding-right: 0rem;}
#projectStatus {margin-left: 5.2rem}